$colorGrey: #868686;
$colorBlack: #212121;
$colorRed: #ff7e4a;
$colorOrange: #f7b100;
$fontFamily: Open Sans;
//
$widthBanerRed: 672px;
$heightBanerRed: 80px;
//
$widthBanerOrange: 640px;
$heightBanerOrange: 80px;
// btn vars
$btnRedWidthDesc: 156px;
$btnRedHeightDesc: 44px;
//
$btnRedWidthMob: 145px;
$btnRedHeightMob: 40px;
//
$btnOrangeWidthDesc: 159px;
$btnOrangeHeighthDesc: 48px;
//
$btnOrangeWidthMob: 124px;
$btnOrangeHeighthMob: 36px;
//
$btnRedRadius: 22px;
$btnOrangeRadius: 16px;
